node_modules/wink-nlp/.jsdoc.json
node_modules/wink-nlp/.nycrc.json
node_modules/wink-nlp/CHANGELOG.md
node_modules/wink-nlp/CODE_OF_CONDUCT.md
node_modules/wink-nlp/CONTRIBUTING.md
node_modules/wink-nlp/LICENSE
node_modules/wink-nlp/package.json
node_modules/wink-nlp/README.md
node_modules/wink-nlp/ROADMAP.md
node_modules/wink-nlp/runkit-example.js
node_modules/wink-nlp/SECURITY.md
node_modules/wink-nlp/.github/workflows/coveralls.yml
node_modules/wink-nlp/.github/workflows/node.js.yml
node_modules/wink-nlp/.nyc_output/ff822192-6358-44a1-af8b-7ff7388fe02f.json
node_modules/wink-nlp/.nyc_output/processinfo/ff822192-6358-44a1-af8b-7ff7388fe02f.json
node_modules/wink-nlp/.nyc_output/processinfo/index.json
node_modules/wink-nlp/models/install.js
node_modules/wink-nlp/models/language-models.json
node_modules/wink-nlp/src/allowed.js
node_modules/wink-nlp/src/as.js
node_modules/wink-nlp/src/automaton.js
node_modules/wink-nlp/src/cache.js
node_modules/wink-nlp/src/compile-trex.js
node_modules/wink-nlp/src/compose-patterns.js
node_modules/wink-nlp/src/constants.js
node_modules/wink-nlp/src/contained-entities.js
node_modules/wink-nlp/src/contained-markings.js
node_modules/wink-nlp/src/dd-wrapper.js
node_modules/wink-nlp/src/doc-v2.js
node_modules/wink-nlp/src/examples-compiler.js
node_modules/wink-nlp/src/helper.js
node_modules/wink-nlp/src/identify-marked-area.js
node_modules/wink-nlp/src/its.js
node_modules/wink-nlp/src/locate.js
node_modules/wink-nlp/src/reconstruct-spaces.js
node_modules/wink-nlp/src/recursive-tokenizer.js
node_modules/wink-nlp/src/search.js
node_modules/wink-nlp/src/sentence-wise-importance.js
node_modules/wink-nlp/src/sort4FT.js
node_modules/wink-nlp/src/tokenizer.js
node_modules/wink-nlp/src/tokens-mappers.js
node_modules/wink-nlp/src/wink-nlp.js
node_modules/wink-nlp/src/api/col-each.js
node_modules/wink-nlp/src/api/col-entities-out.js
node_modules/wink-nlp/src/api/col-filter.js
node_modules/wink-nlp/src/api/col-get-item.js
node_modules/wink-nlp/src/api/col-map.js
node_modules/wink-nlp/src/api/col-sentences-out.js
node_modules/wink-nlp/src/api/col-tokens-out.js
node_modules/wink-nlp/src/api/get-parent-item.js
node_modules/wink-nlp/src/api/itm-document-out.js
node_modules/wink-nlp/src/api/itm-entity-out.js
node_modules/wink-nlp/src/api/itm-sentence-out.js
node_modules/wink-nlp/src/api/itm-token-out.js
node_modules/wink-nlp/src/api/print-tokens.js
node_modules/wink-nlp/src/api/sel-each.js
node_modules/wink-nlp/src/api/sel-entities-out.js
node_modules/wink-nlp/src/api/sel-filter.js
node_modules/wink-nlp/src/api/sel-get-item.js
node_modules/wink-nlp/src/api/sel-map.js
node_modules/wink-nlp/src/api/sel-tokens-out.js
node_modules/wink-nlp/types/index.d.ts
node_modules/wink-nlp/types/test.ts
node_modules/wink-nlp/types/tsconfig.json
node_modules/wink-nlp/utilities/allowed.js
node_modules/wink-nlp/utilities/bm25-vectorizer.js
node_modules/wink-nlp/utilities/similarity.js
