@font-face {
    font-family: "Ubuntu";
    src: url(Ubuntu-Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body {
    width: 100%;
    min-width: 100vh;
    padding: 0 10px;
    display: flex;
    background: #480087;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    max-width: 435px;
    background: #FFFF;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* Username and Password boxes*/
.form usernamebox label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}