@font-face {
    font-family: "Ubuntu";
    src: url(Ubuntu-Regular.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body {
    width: 100%;
    min-width: 100vh;
    padding: 0 10px;
    display: flex;
    background: #480087;
    justify-content: center;
    align-items: center;
}

