body
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Ubuntu";
    src: url(Ubuntu-Regular.ttf);
}

.top-rectangle {
    width: 1920px;
    height: 50px;
    filter: drop-shadow(-0.244px -13.998px 6.5px rgba(0,0,0,0.28));
    background-color: #FFFFFF;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

.username {

    text-align: center;
}

.login-button {
    width: 120px;
    height: 38px;
    border-radius: 8px;
    background-color: #004e9d;
    position: relative;
    top: 3px;
    left: 8px;
    top: 6px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: x-large;
    color: #FFFFFF;
    text-align: center;
    
}

.signup-button {
    width: 120px;
    height: 38px;
    border-radius: 8px;
    background-color: #004e9d;
    position: relative;
    top: 3px;
    left: 8px;
    top: 6px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: x-large;
    color: #FFFFFF;
    text-align: center;
    
}

.bottom-rectangle {
    width: 1920px;
    height: 1080px;
    background-color: #004e9d;
}